<footer id="footer" aria-label="footer">
  <nav id="footer-navigation" aria-label="footer navigation">
    <a href="/feed.xml" rel="alternate" type="application/rss+xml" aria-label="RSS feed" class="nav__link">RSS</a>
    <a href="//github.com/timosarkar" aria-label="GitHub" class="nav__link">GitHub</a>
    <a href="//linkedin.com/in/timosarkar/" aria-label="Linkedin" class="nav__link">Linkedin</a>
    <a href="/imprint" aria-label="Go to home" class="nav__link nav__link--home">Imprint</a>
    <a href="/privacy" aria-label="Go to home" class="nav__link nav__link--home">Privacy Policy</a>
    <a href="/" aria-label="Go to home" class="nav__link nav__link--home">timosarkar.surge.sh</a>
  </nav>
</footer>
